body {
   #background-image: url("bg.jpg");
}

header
{
  text-align: center;
  position: center;
  height: 45px;
  margin-bottom: 40px;
}

p {
    font-size: 150%;
}

button.settings {
    background:none;
    border:none; 
    cursor: pointer;
    color: #0B00BB;
    font-size: 100%;

}

#intro {
    font-size: 150%;
    background-image: url("gradient_bg.png");
}
#newRule {
    font-size: 150%;
 
}
.tutorialImages {
   margin: -30px 60px;
   position: absolute;
   
}

#settingsImage {
    position: relative-z;
    align: center;
}

#setDefaultDownloadsFolder {
    float:left;
}

.newRule {
    margin: 10px;
    list-style-type: none;
    position: relative;
} 

.setRulesList2 {
    font-size: 20px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.tutorialImages{
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ccc;
    height: 100px;
    width: 220px;
    position: relative;
}

.exampleImages{
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ccc;
    height: 100px;
    width: 280px;
    position: relative;
}

